


/* 
    --------------------
        HEADER STYLE
    --------------------
*/

.header {
}

#main-menu {
    margin-bottom: 0;
}
/* BRAND FONT COLOR */
#main-menu.navbar-default .navbar-brand {
    color: #FFFFFF;
}

/* BRAND BACKGROUND COLOR */
#main-menu.navbar-default {
    font-size: 20px;
    background-color: #AA1111;
    text-align: center;
    border-bottom: none;
}

/* LINK STYLE */
#main-menu.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    background-color: transparent;
}
#main-menu.navbar-default .navbar-nav>li>a:hover,
#main-menu.navbar-default .navbar-nav>li>a:focus {
    color:;
    background-color: #C2242A ;
}

/* ACTIVE LINK STYLE */
#main-menu.navbar-default .navbar-nav>.active>a,
#main-menu.navbar-default .navbar-nav>.active>a:hover,
#main-menu.navbar-default .navbar-nav>.active>a:focus {
    color:;
    background-color: ;
}

/* TOGGLE ICON STYLE */
/* ICON BACKGROUND COLOR */
#main-menu.navbar-default .navbar-toggle {
    background-color: transparent;
}

/* BACKGROUND COLOR WHEN HOVER OR FOCUS */
#main-menu.navbar-default .navbar-toggle:hover,
#main-menu.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

/* TOGGLE ICON COLOR */
#main-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

/* TOGGLE ICON COLOR WHEN HOVER OR FOCUS*/
#main-menu.navbar-default .navbar-toggle:hover .icon-bar,
#main-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #FFFFFF;
}


.footer .row {
    text-align: center;
}

body {
    background-color: #f2f2f2;
}

.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


#equipe {
    background-color: #93298b;
}

#equipe .insetshadow {
    color: #93298b;
}


#socialNetworks {
    background-color: #990026;
}

#socialNetworks .insetshadow {
    color: #990026;
}


#news {
    background-color: #BF5660;
}

#news .insetshadow {
    color: #BF5660;
}


.top-space {
    margin-top: 20px;
}


#user_img
{
    position: absolute;
    top:0px;
    right: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}


.article{
    background-color: white;
    border-bottom-right-radius: 20px;
}

.img {
    width: 20%;
    height: 10%;
}

.profilePicture {
     margin-bottom:5px;
     width: 70px;
     height: 90px;
}

.logo {
    width: 100px;
    height: 100px;
}
.titre_col{
    text-align: center;
    border-radius: 10px;
    background-color: #AA1111;
    padding: 2.5px;
    color: #ecf0f1;
    z-index: 2;
    height: 40px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.description{
    text-align: justify;
    border-radius: 10px;
}
.reseaux{
}

.liste_reseaux{
    list-style-type: none;
}






/* 
    ----------------------
        CAROUSEL STYLE
    ----------------------
*/

/* Carousel base class */
.carousel {
  height: 50vh; 
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 50vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50vh;
}

/* CSS PERSONNALISE */



.description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.insetshadow {
    text-align: center;
    font-size: 20px;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;

    background-color: white;
    padding: 2.5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }



/* 
    --------------------
        POPUP NEWS
    --------------------
*/

#fade { /*--Masque opaque noir de fond--*/
    display: none; /*--masqué par défaut--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 9999;
}
.popup_block{
    display: none; /*--masqué par défaut--*/
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    /*--Les différentes définitions de Box Shadow en CSS3--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--Coins arrondis en CSS3--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
img.btn_close {
    float: right;
    margin: -55px -55px 0 0;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}



